rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas temporalmente permisivas para repoblar la base de datos
    match /{document=**} {
      allow read, write: if true;
    }
  }
}