@import "leaflet/dist/leaflet.css";
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Contenedor general */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
